/* ------------------Header Style ----------------------- */
.header {
  height: 10%;
  margin-top: 0;
  background-color: #000fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.image {
width: 8%;
border-radius: 3px 3px 3px 3px;

}
.clg {
  margin-right: auto;
  margin-left: auto;
}
/* ----------Footer styles---------------------- */
.footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 23px;
  width: 100%;
  padding: 0.5%;
  bottom: 0;
  position: fixed;
}
/* --------------------login styles --------------------- */
 .main {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.login {
    box-shadow: 8px 8px 8px #ddd;
    width: 35%;
    border: 3px solid #ddd;
    border-radius: 10px 10px 10px 10px;
    margin: 1%;
    padding: 1%;
}
.common {
  margin: 1%;
  padding: 1%;
}
h3 {
  margin-top: 0;
}
.button {
  display: flex;
  justify-content: space-around;
}
.button1 {
  font-size: 23px;
  background-color: #000fff;
  color: #ffffff;
  margin: 1%;
  padding: 1%;
}
